---
import SectionTitle from "./SectionTitle.astro";
---

<section class="mt-10 p-4 min-h-[400px]" id="about">
  <SectionTitle title="Sobre mí" icon="user" />
  <div class="flex flex-col md:flex-row mt-6 gap-8 items-center">
    <div class="space-y-2 flex-grow">
      <p
        class="dark:text-white text-black font-nunito text-lg md:text-xl text-pretty"
      >
        Me llamo Daniel Cabral, aunque mis amigos me llaman Dani. Estudié y me
        gradué como <strong class="text-info">Técnico en Programación</strong> en
        la Universidad Tecnológica Nacional en diciembre de 2023.
      </p>

      <p
        class="dark:text-white text-black font-nunito text-lg md:text-xl text-pretty"
      >
        Me especializo en el desarrollo <strong class="text-info"
          >Frontend</strong
        >, aunque también tengo conocimientos en <strong class="text-info"
          >Backend</strong
        >.
      </p>

      <p
        class="dark:text-white text-black font-nunito text-lg md:text-xl text-pretty"
      >
        Me considero una persona activa, siempre buscando mejorar en las
        tecnologías que manejo y aprender nuevas herramientas para seguir
        creciendo 🙂.
      </p>
    </div>
    <img
      src="img/about.webp"
      alt="Imagen de una Notebook y un café."
      class="bg-primary shadow-md shadow-base-100 max-w-xs rounded-md border-2 border-gray-300 dark:border-gray-600"
    />
  </div>
</section>
