---
import SectionTitle from "./SectionTitle.astro";
---

<section class="mt-10 space-y-8 p-4 min-h-[500px]" id="about">
  <SectionTitle title="Sobre mí" icon="user" />
  <div class="flex flex-col md:flex-row gap-8 items-center">
    <div class="space-y-2">
      <p
        class="dark:text-white text-black font-nunito text-lg md:text-xl text-pretty"
      >
        Me llamo Hugo Daniel Cabral, aunque mis amigos me llaman Dani. Estudié y
        me recibí como <strong class="text-info">Técnico en Programación</strong
        > en la Universidad Tecnológica Nacional en diciembre del 2023.
      </p>
      <p
        class="dark:text-white text-black font-nunito text-lg md:text-xl text-pretty"
      >
        Desde entonces, me dedico a la programación y desarrollo web. <strong
          class="text-info"
        >
          Me especializo en el desarrollo frontend</strong
        >, utilizando tecnologías como HTML, CSS, JavaScript, TypeScript, Astro
        y React.js. Aunque también tengo experiencia en el desarrollo backend
        con Node.js y Express y <strong class="text-info"
          >tengo conocimientos en bases de datos SQL</strong
        >.
      </p>
      <p
        class="dark:text-white text-black font-nunito text-lg md:text-xl text-pretty"
      >
        <strong class="text-info">Me encanta aprender</strong> y siempre estoy buscando
        nuevas tecnologías y herramientas para mejorar mis habilidades.
      </p>
    </div>
    <img
      src="https://robohash.org/181.94.187.231.png"
      alt="Avatar de Daniel Cabral"
      class="bg-primary shadow-md shadow-base-100 rounded-md size-44 md:size-56 border-2 border-gray-300 dark:border-gray-600"
    />
  </div>
</section>
