---

---

<header class="p-4">
  <nav class="bg-white w-fit p-1 rounded-md text-black mx-auto">
    <a href="#introduction">Proyectos</a>
    <a href="#">Habilidades</a>
    <a href="#">Sobre mí</a>
    <a href="#">Contacto</a>
  </nav>
</header>
