---
import ThemeController from "./ThemeController.astro";

interface Props {
  links: { id: number; name: string; url: string }[];
}

const { links } = Astro.props;
---

<header class="p-4 sticky z-50 top-0" id="header">
  <nav
    class="w-fit py-2 px-4 rounded-3xl mx-auto space-x-4 flex items-center"
    id="navigation-links"
  >
    {
      links.map((link) => (
        <a
          href={link.url}
          class="text-black dark:text-white text-sm hover:text-info hover:font-bold md:text-lg font-nunito"
        >
          {link.name}
        </a>
      ))
    }
    <ThemeController />
  </nav>
</header>

<script>
  let $introductionSection = document.getElementById(
    "introduction"
  ) as HTMLElement;

  let $navigationLinks = document.getElementById(
    "navigation-links"
  ) as HTMLElement;

  let observerOptions = {
    root: null,
    threshold: 0.9,
  };

  let observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        $navigationLinks.classList.remove(
          "backdrop-blur-md",
          "transition-all",
          "duration-500",
          "border-2",
          "border-gray-400",
          "bg-gray-300",
          "bg-opacity-50",
          "dark:bg-gray-800"
        );
      } else {
        $navigationLinks.classList.add(
          "transition-all",
          "duration-500",
          "border-2",
          "border-gray-400",
          "backdrop-blur-md",
          "bg-gray-300",
          "bg-opacity-50",
          "dark:bg-gray-800"
        );
      }
    });
  }, observerOptions);

  observer.observe($introductionSection);
</script>
