---

---

<section id="introduction">
  <div>
    <img
      src="https://robohash.org/181.94.187.231.png"
      alt="Avatar de Daniel Cabral"
    />
    <a href="#" target="_blank" rel="noopener noreferrer">
      <div class="badge badge-primary">Disponible para trabajar</div></a
    >
  </div>
  <h1>Hola, soy Daniel</h1>
  <p>
    <strong>Técnico Universitario en Programación</strong>. Especializado en el
    desarrollo de aplicaciones web. Me apasiona la tecnología y la programación.
    Siempre estoy en constante aprendizaje.
  </p>

  <div>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-primary">Descargar CV</button>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-primary">Contáctame</button>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-primary">LinkedIn</button>
    </a>
  </div>
</section>
